# Ref: https://docs.github.com/en/get-started/git-basics/configuring-git-to-handle-line-endings

# Set the default behavior, in case people don't have core.autocrlf set
# * text=auto

# Source code files set to LF ending
*.java text eol=lf
*.fxml text eol=lf
*.css text eol=lf

# Binary files
*.class binary
*.pdf binary
