#copyButton,
#helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#help-window-root {
    -fx-background-color: derive(#1d1d1d, 20%);
}

#help-summary-container {
    -fx-background-color: derive(#1d1d1d, 30%);
}

#help-command-scroll {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#help-command-scroll .viewport {
    -fx-background-color: transparent;
}

#help-command-list {
    -fx-background-color: transparent;
}

/* Style all command sections */
.command-section {
    -fx-background-radius: 6;
}

/* Alternating background colors for command sections */
.command-section-odd {
    background-color: #3c3e3f;
    -fx-background-color: #3c3e3f;
}

.command-section-even {
    background-color: #515658;
    -fx-background-color: #515658;
}

/* Style all command titles */
.command-title {
    font-size: 13px;
    -fx-font-size: 13px;
    font-weight: bold;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Style all command descriptions */
.command-description {
    opacity: 0.85;
    -fx-text-fill: white;
    -fx-opacity: 0.85;
}

#help-summary-container Label {
    -fx-text-fill: white;
}